---
import Layout from '@layouts/Layout.astro'
import Card from '@components/cards/Card.astro'
import RefLink from '@components/links/RefLink.astro'
import RelImage from '@components/RelImage.astro'
---

<Layout title="Training">
    <h1>Training</h1>
    <div class="not-prose">
        <div
            class="grid grid-cols-1 gap-3 sm:grid-cols-2 sm:gap-4 lg:grid-cols-3 lg:gap-6"
        >
            <Card heading="Zeiten">
                <div class="font-normal text-gray-700 dark:text-gray-400">
                    <p class="mb-4">
                        Mo: 17:30 Uhr - 19:00 Uhr<br />
                        <span class="text-sm italic">(alle Mitglieder)</span>
                    </p>
                    <p class="mb-4">
                        Mi: 17:30 Uhr - 19:00 Uhr<br />
                        <span class="text-sm italic"
                            >(Fortgeschrittene und Ältere)</span
                        >
                    </p>
                    <p>
                        Fr: 17:30 Uhr - 19:00 Uhr<br />
                        <span class="text-sm italic"
                            >(Anfänger und Jüngere)</span
                        >
                    </p>
                </div>
            </Card>
            <Card heading="Mitgliedsbeitrag">
                <p class="mb-4 font-normal text-gray-700 dark:text-gray-400">
                    Kinder (bis 15 Jahre): 16&nbsp;&euro; pro Monat<br />
                    Jugend / Erwachsene: 19&nbsp;&euro; pro Monat<br />
                    <span class="text-sm italic"
                        >Ein Monat kostenloses Schnuppertraining!</span
                    >
                </p>
                <RefLink
                    href="club/join"
                    text="Schnupper mal rein!"
                    appearance="button"
                />
            </Card>
            <div>
                <Card heading="Dojang" classInner="rounded-b-none">
                    <p
                        class="mb-4 font-normal text-gray-700 dark:text-gray-400"
                    >
                        Dossehalle Wusterhausen<br />
                        Zur Dossehalle 6<br />
                        16868 Wusterhausen/Dosse
                    </p>
                    <div
                        class="inline-flex mt-1 rounded-md shadow-sm"
                        role="group"
                    >
                        <RefLink
                            href="https://goo.gl/maps/5B7m2UGFV3ejwr2M6"
                            external
                            text="Auf Karte"
                            appearance="button"
                            class="mr-0 border rounded-r-none border-blue-900 dark:border-gray-600"
                            classOverride="mr-2"
                        >
                            <svg
                                aria-hidden="true"
                                class="w-4 h-4 ml-2"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="1.5"
                                viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z"
                                ></path>
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z"
                                ></path>
                            </svg>
                        </RefLink>
                        <RefLink
                            href="https://www.google.com/maps/dir//Taeguk+e.+V.+Zur+Dossehalle+6+16868+Wusterhausen%2FDosse/@52.8937059,12.464935,16z/data=!4m8!4m7!1m0!1m5!1m1!1s0x47a92d2e7a845e4b:0x7303969cab7448d7!2m2!1d12.4649017!2d52.8938916"
                            external
                            text="Anfahrt"
                            appearance="button"
                            class="mr-0 border rounded-l-none border-blue-900 dark:border-gray-600 border-l-0"
                            classOverride="mr-2"
                        >
                            <svg
                                aria-hidden="true"
                                class="w-4 h-4 ml-2"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="1.5"
                                viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M9 6.75V15m6-6v8.25m.503 3.498l4.875-2.437c.381-.19.622-.58.622-1.006V4.82c0-.836-.88-1.38-1.628-1.006l-3.869 1.934c-.317.159-.69.159-1.006 0L9.503 3.252a1.125 1.125 0 00-1.006 0L3.622 5.689C3.24 5.88 3 6.27 3 6.695V19.18c0 .836.88 1.38 1.628 1.006l3.869-1.934c.317-.159.69-.159 1.006 0l4.994 2.497c.317.158.69.158 1.006 0z"
                                ></path>
                            </svg>
                        </RefLink>
                    </div>

                    <span class="not-prose" slot="below">
                        <RelImage
                            class="rounded-b-lg"
                            src="trainingsgruppe.jpg"
                        />
                    </span>
                </Card>
                <div></div>
            </div>
        </div>
    </div>
</Layout>
