---
import Layout from '@layouts/Layout.astro'
import Card from '@components/Card.astro'
import RefLink from '@components/links/RefLink.astro'
import Taeguk from '@components/Taeguk.astro'

const { BASE_URL } = import.meta.env
---

<Layout title="Training">
    <h1>Training</h1>
    <div class="not-prose">
        <div
            class="grid grid-cols-1 gap-3 sm:grid-cols-2 sm:gap-4 lg:grid-cols-3 lg:gap-6"
        >
            <Card heading="Zeiten">
                <div class="font-normal text-gray-700 dark:text-gray-400">
                    <p>
                        Mo: 17:30 Uhr - 19:00 Uhr<br />
                        <span class="text-sm italic">alle Mitglieder</span>
                    </p>
                    <p>
                        Mi: 17:30 Uhr - 19:00 Uhr<br />
                        <span class="text-sm italic"
                            >Fortgeschrittene und Ältere</span
                        >
                    </p>
                    <p>
                        Fr: 17:30 Uhr - 19:00 Uhr<br />
                        <span class="text-sm italic">Anfänger und Jüngere</span>
                    </p>
                </div>
            </Card>
            <Card heading="Mitgliedsbeitrag">
                <p class="font-normal text-gray-700 dark:text-gray-400 mb-4">
                    Kinder (bis 15 Jahre): 16&nbsp;&euro; pro Monat<br />
                    Jugend / Erwachsene: 19&nbsp;&euro; pro Monat<br />
                    <span class="text-sm italic"
                        >Ein Monat kostenloses Schnuppertraining!</span
                    >
                </p>
                <RefLink
                    href="club/join"
                    text="Schnupper mal rein!"
                    appearance="button"
                />
            </Card>
            <div>
                <Card heading="Dojang" classList={['rounded-b-none']}>
                    <p class="font-normal text-gray-700 dark:text-gray-400">
                        Dossehalle Wusterhausen<br />
                        Zur Dossehalle 6<br />
                        16868 Wusterhausen/Dosse
                    </p>
                    <span class="not-prose" slot="below">
                        <img
                            class="rounded-b-lg"
                            src={`${BASE_URL}trainingsgruppe.jpg`}
                        />
                    </span>
                </Card>
                <div></div>
            </div>
        </div>
    </div>
</Layout>
