---
import logo from '@assets/logo.png'
import SubMenu from '@components/menu/SubMenu.astro'
import SubMenu2 from '@components/menu/SubMenu2.astro'
import MenuLink from '@components/menu/MenuLink.astro'
---

<nav
    class="fixed w-full z-20 top-0 left-0 border-b px-2 bg-white border-gray-200 dark:bg-gray-900 dark:border-gray-700"
>
    <div class="container flex flex-wrap items-center justify-between mx-auto">
        <a href="/" class="flex items-center">
            <img
                src={logo.src}
                class="h-6 mr-3 sm:h-10"
                alt="Taeguk e. V. Logo"
            />
            <span
                class="self-center font-semibold whitespace-nowrap dark:text-white"
            >
                Taeguk e.&nbsp;V.
            </span>
        </a>
        <!-- Hamburger menu -->
        <button
            data-collapse-toggle="navbar-multi-level"
            type="button"
            class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
            aria-controls="navbar-multi-level"
            aria-expanded="false"
        >
            <span class="sr-only">Open menu</span>
            <svg
                class="w-6 h-6"
                aria-hidden="true"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                    fill-rule="evenodd"
                    d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                    clip-rule="evenodd"></path></svg
            >
        </button>
        <!-- End: Hamburger menu -->
        <div
            class="items-center justify-between md:flex hidden w-full md:w-auto"
            id="navbar-multi-level"
        >
            <ul
                class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
            >
                <SubMenu label="Taekwondo" routePrefix="/taekwondo">
                    <MenuLink label="Allgemein" route="/taekwondo" />
                    <MenuLink label="Geschichte" route="/taekwondo/history" />
                    <MenuLink
                        label="Grundschule"
                        route="/taekwondo/techniques"
                    />
                    <MenuLink
                        label="Schrittkampf"
                        route="/taekwondo/one-step-sparring"
                    />
                    <MenuLink label="Wettkampf" route="/taekwondo/sparring" />
                    <SubMenu2 label="Formen" parentLabel="Formen" routePrefix="/taekwondo/poomse">
                        <MenuLink
                            label="Was ist Poomse?"
                            route="/taekwondo/poomse"
                        />
                        <MenuLink
                            label="Übersicht"
                            route="/taekwondo/poomse/overview"
                        />
                    </SubMenu2>
                    <SubMenu2 label="Selbstverteidigung"  routePrefix="/taekwondo/self-defense">
                        <MenuLink
                            label="SV-Konzept DTU"
                            route="/taekwondo/self-defense/concept"
                        />
                        <MenuLink
                            label="Notwehr"
                            route="/taekwondo/self-defense/legal"
                        />
                    </SubMenu2>
                    <MenuLink label="Bruchtest" route="/taekwondo/breaking" />
                    <MenuLink
                        label="Terminologie"
                        route="/taekwondo/terminology"
                    />
                </SubMenu>
                <SubMenu label="Training" routePrefix="/training">
                    <MenuLink label="Zeiten" route="/training/hours" />
                    <MenuLink label="Anfahrt" route="/training/journey" />
                </SubMenu>
                <MenuLink label="Termine" route="/dates" isTopLevel />
                <MenuLink label="Prüfungskatalog" route="/catalog" isTopLevel />
                <SubMenu label="Regelwerke" routePrefix="/rules">
                    <MenuLink label="Vereinssatzung" route="/rules/club" />
                    <MenuLink label="Finanzordnung" route="/rules/financial" />
                    <MenuLink label="Wettkampf" route="/rules/competition" />
                    <MenuLink label="Prüfung" route="/rules/exam" />
                </SubMenu>
                <SubMenu label="Verein" routePrefix="/club">
                    <MenuLink label="Mitglied werden" route="/club/join" />
                    <MenuLink label="Vorstand" route="/club/board" />
                    <MenuLink label="Kontakt" route="/club/contact" />
                    <MenuLink label="Impressum" route="/club/imprint" />
                    <MenuLink label="Datenschutz" route="/club/privacy" />
                    <MenuLink label="Links" route="/club/links" />
                </SubMenu>
                <SubMenu label="Medien" routePrefix="/media">
                    <MenuLink label="Gallerie" route="/media/gallery" />
                    <MenuLink label="Presse" route="/media/press" />
                </SubMenu>
            </ul>
        </div>
    </div>
</nav>
<!-- Non sticky navbar for correct spacing -->
