---
interface Props {
    label: string
    route: string
    isTopLevel?: boolean
}

const { BASE_URL } = import.meta.env
const { label, route, isTopLevel = false, class: className } = Astro.props
const wholeRoute = BASE_URL + route
const isActive = wholeRoute === Astro.url.pathname
---

<li>
    <a
        href={wholeRoute}
        class:list={[
            'block py-2 hover:bg-gray-100 dark:hover:text-white',
            className,
            isTopLevel
                ? 'pl-3 pr-4 rounded md:hover:bg-transparent md:border-0 md:hover:text-blue-500 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 md:dark:hover:bg-transparent'
                : 'px-4 dark:hover:bg-gray-600',
            { 'md:text-base lg:text-lg scroll-shrink': isTopLevel },
            { 'text-blue-500 font-bold': isActive },
            { 'text-gray-700': !isActive },
        ]}
    >
        {label}
    </a>
</li>
