---
import SubMenu from '@components/menu/SubMenu.astro'
import SubMenu2 from '@components/menu/SubMenu2.astro'
import MenuLink from '@components/menu/MenuLink.astro'
import Taeguk from '@components/Taeguk.astro'

const { BASE_URL } = import.meta.env
---

<nav
    class="fixed w-full z-20 top-0 left-0 px-2 bg-white border-gray-200 dark:bg-gray-900 dark:border-gray-700 h-[78px]"
>
    <div
        class="container flex flex-wrap items-center justify-between mx-auto h-full"
    >
        <a href={BASE_URL} class="flex items-center h-full">
            <img
                src={`${BASE_URL}logo.png`}
                class="h-5/6 mr-3"
                alt="Taeguk e. V. Logo"
            />
            <span
                class="hidden lg:inline self-center text-xl font-semibold whitespace-nowrap dark:text-white"
            >
                <Taeguk />
            </span>
        </a>
        <!-- Hamburger menu -->
        <button
            data-collapse-toggle="navbar-multi-level"
            type="button"
            class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
            aria-controls="navbar-multi-level"
            aria-expanded="false"
        >
            <span class="sr-only">Open menu</span>
            <svg
                class="w-6 h-6"
                aria-hidden="true"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                    fill-rule="evenodd"
                    d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                    clip-rule="evenodd"></path></svg
            >
        </button>
        <!-- End: Hamburger menu -->
        <div
            class="items-center justify-between hidden md:flex w-full md:w-auto"
            id="navbar-multi-level"
        >
            <ul
                class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
            >
                <SubMenu label="Taekwondo" routePrefix="taekwondo">
                    <MenuLink label="Allgemein" route="taekwondo" />
                    <MenuLink label="Geschichte" route="taekwondo/history" />
                    <MenuLink
                        label="Grundschule"
                        route="taekwondo/techniques"
                    />
                    <MenuLink
                        label="Schrittkampf"
                        route="taekwondo/one-step-sparring"
                    />
                    <MenuLink label="Vollkontakt" route="taekwondo/sparring" />
                    <SubMenu2
                        label="Formen"
                        parentLabel="Formen"
                        routePrefix="taekwondo/poomse"
                    >
                        <MenuLink
                            label="Was ist Poomse?"
                            route="taekwondo/poomse"
                        />
                        <MenuLink
                            label="Übersicht"
                            route="taekwondo/poomse/overview"
                        />
                    </SubMenu2>
                    <SubMenu2
                        label="Selbstverteidigung"
                        parentLabel="Selbstverteidigung"
                        routePrefix="taekwondo/self-defense"
                    >
                        <MenuLink
                            label="Allgemein"
                            route="taekwondo/self-defense"
                        />
                        <MenuLink
                            label="SV-Konzept DTU"
                            route="taekwondo/self-defense/concept"
                        />
                        <MenuLink
                            label="Notwehr"
                            route="taekwondo/self-defense/legal"
                        />
                    </SubMenu2>
                    <MenuLink label="Bruchtest" route="taekwondo/breaking" />
                    <MenuLink
                        label="Terminologie"
                        route="taekwondo/terminology"
                    />
                </SubMenu>
                <SubMenu label="Verein" routePrefix="club">
                    <MenuLink
                        label="Mitglied werden"
                        route="club/join"
                        class="font-bold"
                    />
                    <MenuLink label="Vereinshefter" route="club/stapler" />
                    <MenuLink label="Termine" route="club/dates" />
                    <MenuLink label="Vorstand" route="club/board" />
                    <SubMenu2 label="Medien" routePrefix="club/media">
                        <MenuLink label="Gallerie" route="club/media/gallery" />
                        <MenuLink label="Presse" route="club/media/press" />
                    </SubMenu2>
                    <MenuLink label="Links" route="club/links" />
                    <MenuLink label="Impressum" route="club/imprint" />
                    <MenuLink label="Datenschutz" route="club/privacy" />
                </SubMenu>
                <MenuLink label="Training" route="training" isTopLevel />
                <SubMenu label="Regelwerke" routePrefix="rules">
                    <MenuLink
                        label="Prüfungskatalog"
                        route="rules/exam-catalog"
                    />
                    <MenuLink label="Satzung" route="rules/club" />
                    <MenuLink label="Finanzordnung" route="rules/financial" />
                    <MenuLink label="DTU" route="rules/dtu" />
                </SubMenu>
            </ul>
        </div>
    </div>
</nav>

<style>
    /*
     * Shrink Navigation Menu on Scroll.
     * See https://www.w3schools.com/howto/howto_js_navbar_shrink_scroll.asp
     */
    nav {
        transition: height 0.35s;
    }
    nav.scrolled {
        height: 52px;
    }
    nav.scrolled img ~ span {
        transition: font-size 0.35s;
    }
    nav.scrolled img ~ span {
        font-size: 1rem; /* text-base */
        line-height: 1.5rem; /* text-base */
    }
</style>

<script>
    import { initDropdowns } from 'flowbite/lib/esm/components/dropdown'

    initDropdowns()

    const navbar = document.querySelector('nav')
    window.addEventListener('scroll', (event) => {
        if (
            document.body.scrollTop > 70 ||
            document.documentElement.scrollTop > 70
        ) {
            navbar.classList.add('scrolled')
        } else {
            navbar.classList.remove('scrolled')
        }
    })
</script>
