---
/** https://flowbite.com/docs/components/cards/Card/#card-with-list */

interface Props {
    heading: string
    classInner?: string
}

const { heading, class: className, classInner } = Astro.props
---

<div class={className}>
    <div
        class:list={[
            'p-6 bg-white shadow dark:bg-gray-800 rounded-lg',
            classInner,
        ]}
    >
        <h5
            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
            {heading}
        </h5>
        <slot />
    </div>
    <slot name="below" />
</div>
