---
---

<div
    class="m-0 sm:mx-10 md:mx-0 px-4 py-2 sm:px-8 sm:py-4 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
>
    <div class="flex items-center justify-between px-1 mb-4">
        <h5
            class="text-xl font-bold leading-none text-gray-900 dark:text-white"
        >
            News
        </h5>
    </div>
    <div class="prose prose-thead:hidden">
        <slot />
    </div>
</div>
