---
import Layout from '@layouts/Layout.astro'
import Card from '@components/Card.astro'
---

<Layout title="Vorstand">
    <h1>Vorstand</h1>
    <div class="not-prose">
        <div
            class="grid grid-cols-1 gap-3 sm:grid-cols-2 sm:gap-4 lg:grid-cols-3 lg:gap-6"
        >
            <Card heading="Vorsitzender">
                <p class="font-normal text-gray-700 dark:text-gray-400 mb-4">
                    Marko Neuendorf
                    <br />
                    Am Eichengrund 22
                    <br />
                    16868 Bantikow
                </p>
            </Card>
            <Card heading="stellv. Vorsitzender">
                <p class="font-normal text-gray-700 dark:text-gray-400 mb-4">
                    Birgit Fenske
                    <br />
                    Rudolf-Breitscheid-Straße 14
                    <br />
                    16868 Wusterhausen
                </p>
            </Card>
            <Card heading="Kassenwartin">
                <p class="font-normal text-gray-700 dark:text-gray-400 mb-4">
                    Sandra Röhrs
                    <br />
                    Feldweg 3a<br />
                    16868 Bantikow
                </p>
            </Card>
        </div>
    </div>
</Layout>
