---
import Layout from '@layouts/Layout.astro'
import Card from '@components/Card.astro'
import RefLink from '@components/RefLink.astro'
---

<Layout title="Kontakt">
    <h1>Kontakt</h1>
    <div class="not-prose max-w-fit">
        <Card heading="Kontaktdaten">
            <p class="font-normal text-gray-700 dark:text-gray-400 mb-4">
                <RefLink href="club/board" text="Marko Neuendorf" />
                <br />
                Phone: <a
                    href="tel:+493397913739"
                    role="button"
                    class="text-blue-600 dark:text-blue-500 hover:underline"
                >
                    033979 / 13739
                </a>
                <br />
                E-Mail: <a
                    id="email"
                    role="button"
                    class="text-blue-600 dark:text-blue-500 hover:underline"
                >
                    info(ät)taekwondo-wusterhausen.de
                </a>
            </p>
        </Card>
    </div>
</Layout>

<script>
    {
        /* Obfuscation to avoid crawlers from getting the email address. */
    }
    const at = '@'
    document.querySelector('#email').addEventListener('click', () => {
        const pieces = ['mail', 'to:']
        const address = 'info(ät)taekwondo-wusterhausen.de'.replace('(ät)', at)
        window.location.href = pieces.join('') + address
    })
</script>
