---
import Layout from '@layouts/Layout.astro'
import Card from '@components/cards/Card.astro'
import EmailLink from '@components/links/EmailLink.astro'
import Taeguk from '@components/Taeguk.astro'
---

<Layout title="Impressum">
    <h1>Impressum</h1>
    <div class="not-prose">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div class="grid gap-4">
                <Card heading="Kontakt">
                    <p
                        class="font-normal text-gray-700 dark:text-gray-400 mb-4"
                    >
                        TKD-Verein <Taeguk />
                        <br />
                        c/o Marko Neuendorf
                        <br />
                        Am Eichengrund 22
                        <br />
                        16868 Bantikow
                    </p>
                    <p class="font-normal text-gray-700 dark:text-gray-400">
                        Phone: <a
                            href="tel:+493397913739"
                            role="button"
                            class="text-blue-500 dark:text-blue-400 hover:underline"
                        >
                            033979 / 13739
                        </a>
                        <br />
                        E-Mail: <EmailLink
                            email="info(ät)taekwondo-wusterhausen.de"
                        />
                    </p>
                </Card>
                <Card heading="Gerichtsstand">
                    <p class="font-normal text-gray-700 dark:text-gray-400">
                        Amtsgericht Neuruppin
                    </p>
                </Card>
            </div>
            <div class="grid gap-4">
                <Card heading="Internetpräsenz">
                    <p class="font-normal text-gray-700 dark:text-gray-400">
                        <a
                            href="https://www.taeguk-wusterhausen.de/"
                            class="email-link text-blue-500 dark:text-blue-400 hover:underline"
                        >
                            https://www.taeguk-wusterhausen.de/
                        </a>
                        <br />
                        <a
                            href="https://www.taekwondo-wusterhausen.de/"
                            class="email-link text-blue-500 dark:text-blue-400 hover:underline"
                        >
                            https://www.taekwondo-wusterhausen.de/
                        </a>
                    </p>
                </Card>
                <Card heading="Webmaster">
                    <p class="font-normal text-gray-700 dark:text-gray-400">
                        Jim Neuendorf
                        <br />
                        E-Mail: <EmailLink email="jim.neuendorf(ät)gmx.de" />
                        <br />
                        GitHub: <a
                            href="https://github.com/jneuendorf"
                            class="text-blue-500 dark:text-blue-400 hover:underline"
                        >
                            https://github.com/jneuendorf
                        </a>
                    </p>
                </Card>
                <div class="md:h-16"></div>
            </div>
        </div>
    </div>

    <h2>Erklärung</h2>
    <p>
        Mit Urteil vom 12. Mai 1998 hat das Landgericht Hamburg entschieden,
        dass man durch die Ausbringung eines Links die Inhalte der gelinkten
        Seite ggf. mit zu verantworten hat. Dies kann - so das LG - nur dadurch
        verhindert werden, dass man sich ausdrücklich von diesen Inhalten
        distanziert. Wir haben auf diesen Seiten Links zu anderen Seiten im
        Internet gelegt. Für all diese Links gilt: Wir möchten ausdrücklich
        betonen, dass wir keinerlei Einfluss auf die Gestaltung und die Inhalte
        der verlinkten Seiten haben. Deshalb distanzieren wir uns hiermit
        ausdrücklich von allen Inhalten aller verlinkten Seiten auf dieser
        Homepage und machen uns deren Inhalte nicht zu eigen. Diese Erklärung
        gilt für alle auf dieser Homepage verwendeten Links und für alle Inhalte
        der Seiten, zu denen diese Links oder Banner führen.
    </p>
</Layout>
