---
import Layout from '@layouts/Layout.astro'
import DownloadLink from '@components/links/DownloadLink.astro'
---

<Layout title="Vereinshefter" initFlowbite={false}>
    <h1>Vereinshefter</h1>
    <p>
        Der Vereinshefter dient als primäre Informationsquelle für Trainierende
        und wurde in der Vergangenheit an jedes Mitglied ausgehändigt. Nun gibt
        es ihn nur noch digital und er wird demnächst hier zum Download zur
        Verfügung stehen.
    </p>
    <DownloadLink
        href="pdfs/vereinshefter.pdf"
        text="PDF herunterladen"
        download="Vereinshefter.pdf"
    />
</Layout>

