---
import Layout from '@layouts/Layout.astro'
import EventsCard from '@components/EventsCard.astro'
import RefLink from '@components/links/RefLink.astro'
import Taeguk from '@components/Taeguk.astro'

const { BASE_URL } = import.meta.env
---

<Layout title="Startseite" prose={false}>
    <EventsCard
        events={[
            {
                name: '1. Kupprüfung 2023',
                date: '01.04.',
                location: 'kleine Halle',
            },
        ]}
    />
    <div class="flex justify-between mt-8">
        <div class="flex-none w-12 sm:w-16 md:w-auto">
            <img src={`${BASE_URL}logos/tvbb_small.png`} />
        </div>
        <article
            class="flex-auto px-10 text-center prose md:text-base lg:text-lg"
        >
            <p>
                Willkommen auf den Seiten des Brandenburger Taekwondo-Vereins <Taeguk
                /> Wusterhausen&#8239;/&#8239;Dosse.
            </p>
            <p>
                Hier erhaltet ihr Informationen über die olympische koreanische
                Kampfsportart Taekwondo und die Aktivitäten unseres Vereins.
                Viel Spaß beim Besuch unserer Internetpräsenz wünscht der <Taeguk
                />
                Wusterhausen
            </p>
            <p class="not-prose">
                <img class="inline" src={`${BASE_URL}skorea_flag.gif`} />
            </p>
        </article>
        <div class="flex-none w-12 sm:w-16 md:w-auto">
            <img src={`${BASE_URL}logos/tjbb.png`} />
        </div>
    </div>
</Layout>
