---
import Taeguk from '@components/Taeguk.astro'
import EventsCard from '@components/cards/EventsCard.astro'
import NewsCard from '@components/cards/NewsCard.astro'
import Layout from '@layouts/Layout.astro'
import { compiledContent as datesHtml } from '@pages/dates.md'
import { Content as News, compiledContent as newsHtml } from '@pages/news.md'

/**
 * Custom parsing because structure is known and parsing does not work on server side.
 *
 * <table>
 *  <thead><tr><th>Datum</th><th>Veranstaltung</th><th>Ort</th><th></th></tr></thead>
 *  <tbody>
 *      <tr><td>12.02.</td><td>offenes TJBB-Training Kyorugi</td><td>Dabendorf</td><td></td></tr>
 *  </tbody>
 * </table>
 */
const table = datesHtml().trim()
const tbody = table
    .split(/<\/?tbody>/g)[1]
    // strip leading '<tr>' and trailing '</tr>'
    .slice(4, -5)

const events = tbody.split('</tr><tr>').map((row) =>
    row
        // strip leading '<td>' and trailing '</td>'
        .slice(4, -5)
        .split('</td><td>')
        // discard empty calendar-icon column
        .slice(0, -1),
)
const now = new Date()
const index = events.findIndex(([date]) => {
    let month: number
    let day: number
    // DD. - DD.MM. / DD. + DD.MM. => use start date
    if (date.includes('-') || date.includes('+')) {
        // 'DD. - DD.MM.' => ['DD', ' - DD', 'MM', '']
        ;[day, , month] = date.split('.').map(Number)
    }
    // DD.MM.
    else {
        ;[day, month] = date.split('.').map(Number)
    }
    const utcDate = new Date(Date.UTC(now.getFullYear(), month - 1, day))
    return utcDate >= now
})
const upcomingEvents = events
    .slice(index, index + 3)
    .map(([date, name, location]) => ({
        name,
        date,
        location,
    }))
---

<Layout title="Startseite" prose={false}>
    {
        newsHtml().trim().length > 0 ? (
            <div class="mx-auto w-full lg:w-3/4 grid grid-cols-1 gap-3 md:grid-cols-2 md:gap-4 lg:gap-8">
                <NewsCard>
                    <News />
                </NewsCard>
                <EventsCard events={upcomingEvents} />
            </div>
        ) : (
            <EventsCard events={upcomingEvents} />
        )
    }
    <div id="mainContainer" class="flex justify-between mt-8">
        <div class="flex-none hidden md:block w-16 md:w-auto">
            <img src="/logos/tvbb_small.png" alt="TVBB" />
        </div>
        <article
            class="flex-auto px-10 text-center prose md:text-base lg:text-lg"
        >
            <p>
                Willkommen auf den Seiten des Brandenburger Taekwondo-Vereins <Taeguk
                /> Wusterhausen&#8239;/&#8239;Dosse.
            </p>
            <p>
                Hier erhaltet ihr Informationen über die olympische koreanische
                Kampfsportart Taekwondo und die Aktivitäten unseres Vereins.
                Viel Spaß beim Besuch unserer Internetpräsenz wünscht der <Taeguk
                />
                Wusterhausen
            </p>
            <p class="not-prose mt-12">
                <img
                    class="inline"
                    src="skorea_flag.gif"
                    alt="Südkorea-Flagge"
                />
            </p>
        </article>
        <div class="flex-none hidden md:block w-16 md:w-auto">
            <img src="/logos/tjbb.png" alt="TJBB" />
        </div>
    </div>
</Layout>

<style>
    #mainContainer {
        background-origin: border-box;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
</style>
