---
/** https://flowbite.com/docs/components/gallery/ */
import { ImgAttributes } from 'astro:assets'

interface Props {
    images: (string | ({ src: string; alt: string } & ImgAttributes))[]
    class?: string
}

const { images, class: className } = Astro.props
---

<div
    {/* Passing the number of cols as prop and doing `grid-cols-${cols}`
        doesn't work with the Tailwind integration. */}
    class:list={[
        `grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 not-prose`,
        className,
    ]}
>
    {
        images
            .map((img) =>
                typeof img === 'string' ? { src: img, alt: '' } : img,
            )
            .map(({ src, alt, ...props }) => (
                <img
                    class="h-auto max-w-full rounded-lg opacity-95 hover:opacity-100 hover:shadow-xl"
                    src={src}
                    alt={alt}
                    {...props}
                />
            ))
    }
</div>
